[user]
	email = thorck@protonmail.com
	name = Thor
	signingkey = 941A2ADE813CB740
[gpg]
	program = gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[github]
	user = thor314
[pull]
	ff = only
