# xprofile allows you to execute commands at the beginning of the X user session
# before the window manager is started.

# set keyboard
setxkbmap dvorak -option ctrl:swapcaps

# load .ssh configuration (I think?)
eval `ssh-agent`
# unclear: think I need to run this once on login.
# ssh-add ~/.ssh/id_ed25519

# set desktop background
feh --bg-scale ~/Pictures/like/ditherpunk.png

# fn brightness buttons need this
sudo chmod a+rw /sys/class/backlight/intel_backlight/brightness

# run emacs as a daemon
emacs --daemon
