# xprofile allows you to execute commands at the beginning of the X user session
# before the window manager is started.

# xhost +SI:localuser:root

# set keyboard
setxkbmap dvorak -option ctrl:nocaps

# set second monitor location
# TODO: only run if there exists a second monitor
xrandr --output HDMI-1 --auto --above eDP-1
# xrandr --output HDMI-2 --auto --right-of HDMI-1
